.carrossel {
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    margin: auto;
    border-radius: 10px;
}

.slides {
    display: flex;
    width: 300%;
    transition: transform 1s ease-in-out;
}
.slides img {
    width: 100%;
    object-fit: cover;
}
